@model Projekt_ASP.Models.Achievement
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    @{ if (Model.Posts.Count() == 0)
        {<h4>Na razie brak</h4>}
        else
        {
            foreach (var post in @Model.Posts)
            {

                Random rnd = new();
                string link = "https://picsum.photos/50?random=";
                string tmp = link + rnd.Next();

                <a asp-action="ViewPost" asp-route-id="@post.Id" asp-controller="Achievement" class="text-decoration-none text-dark">
                    <div class="border border-dark border-2 rounded p-1 d-flex m-1">
                        <div>
                            <img src="@tmp" alt="Alternate Text" />
                        </div>
                        <div class="flex-grow-1">
                            <div class="ml-3">
                                @post.Title
                            </div>
                            <div class="text-right">
                                <span>
                                    Created by: Anonymus
                                </span>
                                <span>
                                    @post.PostTime
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    }
</div>
<div><a asp-action="AddPostForm" asp-controller="Achievement" asp-route-id="@Model.Id">Dodaj Post</a></div>
<div><a asp-controller="Achievement" asp-action="EditForm" asp-route-id="@Model.Id">Edytuj Achievement</a></div>
<div><a asp-controller="Achievement" asp-action="DeleteForm" asp-route-id="@Model.Id">Usuń Achievement</a></div>