@model Projekt_ASP.Models.Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div>Id:@Model.Id</div>
<div>Nazwa osiągnięcia: @Model.Achievement.Name</div>
<div>Gra w której osiągnięto: @Model.Achievement.Game</div>
<h4>@Model.Title</h4>
<h6>@Model.Text</h6>

<span><a asp-controller="Achievement" asp-action="EditFormPost" asp-route-id="@Model.Id">Edytuj</a></span>
<span><a asp-controller="Achievement" asp-action="DeleteFormPost" asp-route-id="@Model.Id">Usuń</a></span>
@{
    if (Model.Comments != null)
    {
        foreach (var item in Model.Comments)
        {
            <div class="border border-primary border-2 p-2 fon">
                <div>
                    @item.PostTime
                    <div class="d-flex justify-content-between">
                        <span>@item.Text</span>
                        <a asp-action="DeleteFormComment" asp-route-id="@item.Id" asp-controller="Achievement" class="text-dark btn-secondary">Usuń</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>Brak komentarzy</div>
    }

}
<div class="m-2"><a asp-controller="Achievement" asp-action="AddCommentForm" asp-route-id="@Model.Id">Dodaj komentarz</a></div>

